# Virtual Environments
venv/
.venv/
env/
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Logs
debug.log
*.log

# Streamlit Secrets
.streamlit/secrets.toml

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database
*.sqlite3
*.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test files
/test
test/

# Temporary files
*.tmp
*.temp

